<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>analyzing-data.md</key>
			<dict>
				<key>lastModification</key>
				<real>484413261.364492</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>coding-and-transcribing.md</key>
			<dict>
				<key>lastModification</key>
				<real>484413261.36449498</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>designing-exps.md</key>
			<dict>
				<key>lastModification</key>
				<real>484413261.36449498</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>documenting-exps.md</key>
			<dict>
				<key>lastModification</key>
				<real>484413261.36449403</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>making-stimuli.md</key>
			<dict>
				<key>lastModification</key>
				<real>484415244.28695798</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>running-exps.md</key>
			<dict>
				<key>lastModification</key>
				<real>484413261.36449403</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>analyzing-data.md</string>
		</array>
		<array>
			<string>making-stimuli.md</string>
		</array>
		<array>
			<string>running-exps.md</string>
		</array>
		<array>
			<string>documenting-exps.md</string>
		</array>
		<array>
			<string>designing-exps.md</string>
		</array>
		<array>
			<string>coding-and-transcribing.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
