<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>manuals</string>
		<string>code</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>code</key>
			<dict>
				<key>lastModification</key>
				<real>484410501.66172999</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>manuals</key>
			<dict>
				<key>lastModification</key>
				<real>484410503.72716302</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>helpful-git-commands.md</key>
			<dict>
				<key>lastModification</key>
				<real>484410568.40675902</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>helpful-git-commands.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
			<integer>8</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
