<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>computer-setup.md</key>
			<dict>
				<key>lastModification</key>
				<real>484423605.84987801</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>favorites.md</key>
			<dict>
				<key>lastModification</key>
				<real>484423610.23298901</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>hardware-and-software.md</key>
			<dict>
				<key>lastModification</key>
				<real>484421372.11759001</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>server-setup.md</key>
			<dict>
				<key>lastModification</key>
				<real>484425542.835805</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>software.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>484421348.31134301</real>
				<key>lastModification</key>
				<real>484421348.31134301</real>
				<key>version</key>
				<dict>
					<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
					<integer>11</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>hardware-and-software.md</string>
		</array>
		<array>
			<string>software.md</string>
		</array>
		<array>
			<string>computer-setup.md</string>
		</array>
		<array>
			<string>server-setup.md</string>
		</array>
		<array>
			<string>favorites.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>74d17b328539feb393a1ba583b3acf5a074239930ba9853096eb5c0ae7548bef</key>
			<integer>26</integer>
		</dict>
	</dict>
</dict>
</plist>
